In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [6]:
driver=webdriver.Chrome("chromedriver.exe")

In [7]:
driver.get('https://www.naukri.com/')

In [9]:
search_field_designation=driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Analyst")

In [10]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [12]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [32]:
job_title=[]
company_names=[]
location_list=[]
experince_list=[]

In [14]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="6025c6c9-5167-409b-84e2-08ed14a8406d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="04419f8d-d623-4efe-8222-07f1c0937448")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="77e8fd31-e299-48e2-9719-b84ba1ebc5ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="98f883e2-67dc-4c6f-a73d-067f933ed8e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="1cf2bdae-1fb3-4b77-aa2f-b19873448ac4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="ce5cf39e-df3c-4857-9a75-60d326190d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="37284614-81d6-417c-9e1d-bfd66a95e1e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="33d5aa62-a559-4f3c-b19a-786eaf0008d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="eb45952b-a961-47c7-9f45-49b63a246a4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="fd4850e7-65fb-4b0f-b730-59ca15c252fd")>]

In [36]:
for i in titles_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Sr Data Analyst II',
 'Senior Business Analyst - Data Sciences and Advanced Analytics',
 'Business and Data Analyst',
 'Data Analyst - Python / SQL',
 'Data Analyst 2-1',
 'Senior Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Jr . Data Analyst',
 'Senior Data Analyst, Data & Analytics']

In [20]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="324f7b2a-f485-419c-9258-e59e78cd5e07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="f0ee3b48-1c0d-4250-a845-09e709691f8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="230016c8-14bc-4d1c-971c-fa21a68c37c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="08b771cc-a08c-4498-80a6-a5b44da36143")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="71f6ee9e-d8e6-4842-9f06-6913f3afeeae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="23db44e9-ff15-4cc9-bea6-04b326f2a471")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="4532221d-809f-43c3-bf98-434c145af6f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="8a20d59b-82da-4f9e-b229-0f4bbab94d50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="2a071f19-caf2-405b-8920-80d9225b1548")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="877348da-564b-457e-8076-784a2f941eb2")>]

In [38]:
for i in locations_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [22]:
experinces_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experinces_tags

[<selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="644ee058-327b-4f7a-8827-24affffa86cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="4b055a9a-89f8-4873-b08e-4db721259ced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="d4060cc9-975d-4573-a686-a3728195c4bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="501004a3-855a-40c7-80ab-fc182b414eac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="3fde46b4-9977-497d-bbea-552bf09e8472")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="808da932-026e-4e5b-ab84-f9817245b412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="bd063906-9a7e-4e89-8760-c1418ee214fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="85dffaf2-3b98-4d08-8a1b-a7293c512718")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="54eb6344-db6b-4fb5-aae5-c77131ebdac4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="4547311f-d6fa-4c68-b9e0-6b1aaa999328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="ce66bfe0-44f4-4389-878d-681f43ca1486")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="8ef439b8-eae2-4458-a134-d1eac10933f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="f88ad315-5014-4a29-b413-e0b9dc8928e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="6e47e59c-4d5e-4017-8a7a-b00e0feac4cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="3cf2dd1e-c0b1-4582-82ef-ffe20e406e13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="4c2288c3-1e92-43d7-9fb2-ae5e17f1079e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="b76deda9-438a-42e7-815f-83a408c78722")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="71949eaf-3beb-4f46-93d6-d8865cec8950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="1f8997fe-cce3-49b7-9578-598f3edcccc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="d2b54f0a-5083-4f64-8f57-cb9866c500a8")>]

In [40]:
for i in experinces_tags:
    experince=i.text
    experince_list.append(experince)
experince_list[0:10]

['3-6 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '3-5 Yrs']

In [28]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="663eab3e-d13c-426d-b3c3-ad6e1d400720")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="8f090273-948e-4b37-ba83-b0f98be8d3cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="df831844-80a3-490e-9512-9a5b7e99fa28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="95685483-183c-46cb-90dc-4421c812c8b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="8cf3af0a-0356-412f-9658-eeac46205221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="fdfa9191-b24c-4ef0-8cb9-9faf198e0eef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="8aa58fe3-e482-49a6-8c24-e91b92763562")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="a9cef257-9f96-4427-b68e-d70a9e3b8407")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="61de961d-d8da-4dea-beb9-d1e715be2a82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23de6de5f450a642bdb79a1ae872ece9", element="7af1b3ea-0344-48b7-b020-94d69603146e")>]

In [33]:
for i in companies_tags:
    company=i.text
    company_names.append(company)
company_names[0:10]

['IHS Markit',
 'Vmware',
 'CAREERDOST ENTERPRISE',
 'Myntra',
 'PayPal',
 'Capco',
 'Concerto HealthAI',
 'Gsn Games India',
 'Armorblox',
 'ReSource Pro Operational Solutions Pvt Ltd.']

In [41]:
print(len(job_title),len(experince_list),len(location_list),len(company_names))

20 20 20 20

In [44]:
jobs=pd.DataFrame({})
jobs['title']=job_title
jobs['company']=company_names
jobs['experince_required']=experince_list
jobs['location']=location_list

In [45]:
jobs

,title,company,experince_required,location
0,Sr Data Analyst II,IHS Markit,3-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Senior Business Analyst - Data Sciences and Ad...,Vmware,3-7 Yrs,Bangalore/Bengaluru
2,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
3,Data Analyst - Python / SQL,Myntra,1-4 Yrs,Bangalore/Bengaluru
4,Data Analyst 2-1,PayPal,5-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Capco,7-12 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
6,Data Analyst,Concerto HealthAI,3-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Gsn Games India,3-7 Yrs,Bangalore/Bengaluru
8,Jr . Data Analyst,Armorblox,0-2 Yrs,Bangalore/Bengaluru
9,"Senior Data Analyst, Data & Analytics",ReSource Pro Operational Solutions Pvt Ltd.,3-5 Yrs,Bangalore/Bengaluru
10,Data Analyst,G S E-COMMERCE PVT LTD,4-7 Yrs,Bangalore/Bengaluru(Jayanagar)
11,Data Analyst,Falcon Smart IT,2-6 Yrs,Bangalore/Bengaluru
12,Data Analyst,NUSTAR TECHNOLOGIES INDIA PRIVATE LIMITED,5-10 Yrs,Bangalore/Bengaluru
13,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
14,Data Analyst II,Cerner,6-10 Yrs,Bangalore/Bengaluru
15,Reference Data Analyst,Deutsche Bank,2-5 Yrs,Bangalore/Bengaluru
16,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
17,Officer - Category Demand Management ( Data An...,Myntra,1-4 Yrs,Bangalore/Bengaluru
18,Software Technologist II - Data Analyst,Philips,5-8 Yrs,Bangalore/Bengaluru
19,"Information Analyst, Data Management",Ocwen,5-10 Yrs,Bangalore/Bengaluru\n(WFH during Covid)

In [46]:
jobs.to_csv('Bangolre Data Anayst jobs',index=False)

In [47]:
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [158]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [159]:
driver=webdriver.Chrome("chromedriver.exe")

In [160]:
driver.get('https://www.naukri.com/')

In [161]:
search_field_desiganation=driver.find_element_by_class_name("suggestor-input ")
search_field_desiganation.send_keys("Data Scientist")

In [162]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [163]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [164]:
job_titles=[]
job_location=[]
company_name=[]

In [165]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="be399c1b-1718-449d-84c8-9ae304b96575")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="f160fd44-822c-4ded-b755-fe504f4f65b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="d3f98cdd-4161-4cb9-a52c-0f3fbfbfdb6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="98d0036e-e93d-4bd4-a17b-e8dd168e0d96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="cc68165f-3259-46cd-a354-42f9a0ab3d67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="8e99bccb-6b7a-457f-8c68-c964a2347b40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="f7d4ed7f-3c73-46b9-9127-90b0a68d0363")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="a52967e9-ff77-41e8-80cd-c36bd30736af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="267381c0-e0e8-4611-b112-3d4a9cc1e769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="f0a7559c-e44c-4394-949f-6b4a738c9afa")>]

In [166]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Rolls-Royce Data Labs : Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Staff Data Scientist',
 'Sr Data Scientist',
 'Data Scientist 1',
 'Data Scientist Opportunity with PayU - Diversity Hiring',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Assistant Manager/Manager/Senior Manager - Data Scientist']

In [167]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="739f9fea-a84d-49e2-8a88-48b064bdf85c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="e08daa14-caa9-491b-aa1e-40563e8f2397")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="9bc105d9-6372-45fc-b882-9d66feb23c87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="b98e8c77-a458-4a3c-9994-1b70b2e8c11c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="d8cc972b-0bbf-45eb-81f8-e050ef4ec765")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="9f8de443-9783-414b-a61d-507b1719da74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="0dcd0307-fc4c-4c83-ada4-fb22a6663357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="95cae2ef-ebcb-43d0-92b8-0e6d1ac43b77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="fb302d50-6d79-4754-8a6b-6e43cdd9bb91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="3f91381e-77a9-466d-af59-37bebd3d0299")>]

In [168]:
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [169]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="97d55bfc-0020-48c4-8b2c-3d33686e7fb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="ae202ff4-0f89-4b10-803c-5955a2e640b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="4b594f3c-8233-4dd7-9601-cc8c823bb980")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="7d9b8791-b995-4910-9c76-d7cfc66ada53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="909839d1-388d-4289-bd39-2fd7232f01d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="da303d28-023e-4b6d-94ab-c4f930dbaa48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="96d1739d-5fdc-45a6-b623-0ce6d1c2bfbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="0fb94a4f-072c-4042-b72a-a697ae073fef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="56c1663e-f97a-4f5e-9e8f-87f3f54c1369")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1627fa8f8e03753c2b0727e29dae2e1d", element="9065fd29-3de2-4a1a-8d92-b1ac1bb0f130")>]

In [170]:
for i in companies_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Rolls Royce',
 'IBM',
 'Walmart',
 'Target',
 'PayPal',
 'PayU',
 'Target',
 'Walmart',
 'IBM',
 'Huquo Consulting Pvt. Ltd']

In [171]:
print(len(job_titles),len(job_location),len(company_name))

20 20 20

In [172]:
job=pd.DataFrame({})
job['job_title']=job_titles
job['location']=job_location
job['company']=company_name

In [173]:
job[0:10]

,job_title,location,company
0,Rolls-Royce Data Labs : Data Scientist,Bangalore/Bengaluru,Rolls Royce
1,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
2,Staff Data Scientist,Bangalore/Bengaluru,Walmart
3,Sr Data Scientist,Bangalore/Bengaluru,Target
4,Data Scientist 1,Bangalore/Bengaluru,PayPal
5,Data Scientist Opportunity with PayU - Diversi...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU
6,Lead Data Scientist,Bangalore/Bengaluru,Target
7,Senior Data Scientist,Bangalore/Bengaluru,Walmart
8,Cognitive/AI Senior Data Scientist,Bangalore/Bengaluru,IBM
9,Assistant Manager/Manager/Senior Manager - Dat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd

In [174]:
job.to_csv("Data scientist job in Bangolre",index=False)

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [175]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [204]:
driver=webdriver.Chrome("chromedriver.exe")

In [177]:
driver.get('https://www.naukri.com/')

In [178]:
search_field_designations=driver.find_element_by_class_name("suggestor-input ")
search_field_designations.send_keys("Data Scientist")

In [179]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Delhi/NCR")

In [180]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [182]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/i")
search_button.click()

In [184]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
search_button.click()

In [185]:
job_title=[]
job_location=[]
company_list=[]
experince_list=[]

In [187]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="5baaec6c-0043-4769-85bf-34ce35cd0ddf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="45ce7195-4f0f-4fd2-8c07-01400dbba5f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="79f93869-e679-4b07-a9ad-bfa5fe9678bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="19701152-17c6-4410-8fd6-1e7cc94586e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="a14833fe-1c63-4a87-8445-77d75dcbf992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="c1348a7c-e1bf-4da2-8094-7da6c250d428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="43ae1a5b-4488-4695-be3c-12fc4b633d09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="56583b9b-d42f-41c5-b969-7726bf44864d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="178f205a-84b7-4c7c-8c1d-7f2cf3c76d63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="a80c6d5d-4d83-405e-ba40-2a54b6b488b4")>]

In [188]:
for i in titles_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Scientist',
 'Associate Data Scientist',
 'Associate Scientist - Data Engineering',
 'Data Scientist (freelance)',
 'Hiring For Data Analyst and Data Scientist For Gurgaon Location',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist',
 'Data Scientist',
 'Hiring For Senior Data Scientist-Noida',
 'Senior Data Scientist']

In [189]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="890ab4c2-5700-4ad8-9660-c2678c563773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="937caa00-0165-4ac8-932b-2486c6640642")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="22aebe7f-cbd8-465d-93e3-c93b90de832b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="ed277ed9-ffc0-471f-9e52-9c2095adcf73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="736e8579-d1e1-4650-8d26-c67e11ea8c87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="34ae3c9f-f807-4f85-9def-312cbd00be95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="2e8d244a-5e20-4667-9849-fb86e9b063d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="ed948945-c14c-4b05-8d14-0c13825d5c1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="79360676-ec08-4217-9811-abd514de57ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="0d514b91-cff6-4506-8b54-63ddb2d0dd65")>]

In [190]:
for i in locations_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'New Delhi, Delhi',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Vadodara, Mumbai (All Areas)',
 'Gurgaon, Bengaluru',
 'New Delhi',
 'Noida, Greater Noida, Delhi / NCR',
 'Delhi']

In [191]:
companies_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="bd14a77a-1d46-45b2-a079-332e759a169c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="633705e4-2740-4a2a-99fd-586e0eb061ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="8d6385c7-7aa1-4205-9bb4-0dea1ea9a6c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="05a16e6b-44b8-444f-85de-1d6af828c229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="fb2a1058-c33f-4b3c-b7c5-c39b3531aa95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="380a00fe-e76d-4487-abc2-93d04ddc3cb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="65122d08-5161-40f3-9279-34b152f7ca69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="2a490011-17c8-4631-8e4c-77a932f3727a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="8836ccda-73c4-4488-8bca-be058c94d514")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="4a6732c2-0147-4913-8895-f96834531da6")>]

In [192]:
for i in companies_tag:
    company=i.text
    company_list.append(company)
company_list[0:10]

['Ashkom Media India Private Limited',
 'Optum',
 'AXA Technology Services India Pvt. Ltd',
 '2Coms',
 'Shadow Placements',
 'Creative Hands HR Consultancy',
 'BlackBuck',
 'Boston Consulting Group',
 'Lumiq.ai',
 'iNICU']

In [193]:
experince_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experince_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="84f4b542-a205-4e40-a4d8-268878467bcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="ede32237-03bd-449b-b790-bd61cee7a42c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="d28ef32e-9dff-47c0-818c-6abcd09c9e43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="5c690541-446f-467b-9c83-20ad8d3eafc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="660b856d-155c-4103-a36c-0aaa591060a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="b29665c3-5b99-44ce-8503-63a5a7387d19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="99aa4665-6140-47ed-b563-8e2911a08816")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="6061c234-6e40-474e-ba49-9d1da548d216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="80fe7364-56de-4d2f-a097-b7aca3a6cac3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="335f894a60787988c5ee9655a33fcfda", element="21fa7851-eabf-4c1d-9b39-b6d9827b0125")>]

In [194]:
for i in experince_tags:
    experince=i.text
    experince_list.append(experince)
experince_list[0:10]

['3-6 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '0-4 Yrs',
 '3-7 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '1-5 Yrs']

In [195]:
print(len(job_title),len(job_location),len(company_list),len(experince_list))

20 20 20 20

In [200]:
jobs=pd.DataFrame({})
jobs['job_title']=job_title
jobs['location']=job_location
jobs['company']=company_list
jobs['experince']=experince_list

In [202]:
jobs[0:10]

,job_title,location,company,experince
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
2,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
3,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
4,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
5,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,0-4 Yrs
6,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
7,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
8,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
9,Senior Data Scientist,Delhi,iNICU,1-5 Yrs

In [203]:
jobs.to_csv('Dehli NCR DATA scientist jobs',index=False)

In [207]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [371]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [372]:
driver=webdriver.Chrome("chromedriver.exe")

In [373]:
driver.get('https://www.flipkart.com/')

In [374]:
search_field_product=driver.find_element_by_class_name("_3704LK")
search_field_product.send_keys("sunglasses")

In [376]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [380]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [386]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [387]:
B_name[:100]

['Singco India',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Mi',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'SUNBEE',
 'Fastrack',
 'PIRASO',
 'Ray-Ban',
 'Lee Topper',
 'PIRASO',
 'SRPM',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'New Specs',
 'Ray-Ban',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'hipe',
 'SUNBEE',
 'hipe',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'DEIXELS',
 'Ray-Ban',
 'Lee Topper',
 'New Specs',
 'kingsunglasses',
 'Arnette',
 'New Specs',
 'PIRASO',
 'kingsunglasses',
 'Ray-Ban',
 'Singco India',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Mi',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'SUNBEE',
 'Fastrack',
 'PIRASO',
 'Ray-Ban',
 'Lee Topper',
 'PIRASO',
 'SRPM',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'New Specs',
 'Ray-Ban',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'hipe',
 'SUNBEE',
 'hipe',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'DEIXELS',
 'Ray-Ban',
 'Lee Topper',
 'New Specs',
 'kingsunglasses',
 'Arnette',
 'New Specs',
 'PIRASO',
 'kingsunglasses',
 'Ray-Ban',
 'Singco India',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Mi',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'SUNBEE',
 'Fastrack',
 'PIRASO',
 'Ray-Ban',
 'Lee Topper',
 'PIRASO',
 'SRPM',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'New Specs',
 'Ray-Ban']

In [388]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [389]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [391]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,Singco India,"₹630₹2,99978% off","Gradient, Toughened Glass Lens, UV Protection ...",78% off
1,VINCENT CHASE,"₹649₹1,99967% off",UV Protection Cat-eye Sunglasses (54),67% off
2,Fastrack,₹649₹89927% off,UV Protection Wayfarer Sunglasses (Free Size),27% off
3,Fastrack,₹599₹79925% off,UV Protection Rectangular Sunglasses (Free Size),25% off
4,Mi,"₹699₹1,19941% off",Polarized Aviator Sunglasses (Free Size),41% off
...,...,...,...,...
95,ROZZETTA CRAFT,₹649₹89927% off,"UV Protection, Gradient Rectangular Sunglasses...",79% off
96,PIRASO,"₹295₹2,49588% off",UV Protection Aviator Sunglasses (54),85% off
97,PIRASO,"₹649₹1,99967% off",UV Protection Aviator Sunglasses (54),85% off
98,New Specs,"₹283₹1,29978% off",UV Protection Rectangular Sunglasses (Free Size),86% off
99,Ray-Ban,₹599₹79925% off,Gradient Round Sunglasses (54),30% off

In [392]:
driver.close()

In [393]:
sun_gl.to_csv(' 100 sunglasses listings on flipkart.com',index=False)

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. 
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [394]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [395]:
driver=webdriver.Chrome('chromedriver.exe')

In [397]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm0f37c2240b217')

In [415]:
Ratings=[]
Review_summary=[]
Full_review=[]

In [424]:
rating_tags=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[10]/div/div/div[5]/div/div[2]")
rating_tags

In [425]:
for i in rating_tags:
    Ratings.append(i.text)
Ratings

TypeError: 'WebElement' object is not iterable

In [427]:
review_summary=driver.find_elements_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[10]/div/div/div[5]/div/div[4]/div[1]/div/div/div[1]")
review_summary

In [430]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[:100]

[<selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="9fe958dd-f6cc-4f9e-b9e7-bed3ec418024")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="eadaef06-81cf-4152-b92b-a35a5ef946e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="2e6a58b6-59b6-4d16-87c7-314ec5b56b6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="f4943e63-976b-4148-8005-922fb3ae24b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="863ae862-1c60-482a-8e65-46c7f1776042")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="850ebc2e-14f6-4a06-bda3-13a55bafbf25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="c9d2cf54-7089-416a-8cb8-8a0f4eb34873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="b1a3c458-128a-4abe-a6b7-e5ad4ba798c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="bb4a84a7-1312-406d-8bd9-6b61f740bb6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d69f07af706d4bc6a8b9320cec2efb4", element="56ded0c0-6e00-4ead-b0e1-eb4394d089b5")>]

In [435]:
for i in full_review:
    review=(i.text)
    Full_review.append(review)
Full_review[:100]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow']

In [436]:
print(len(rating_tags),len(review_summary),len(Full_review)),

TypeError: object of type 'WebElement' has no len()

In [439]:
driver.close()

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [450]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [451]:
driver=webdriver.Chrome('chromedriver.exe')

In [452]:
driver.get('https://www.flipkart.com')

In [455]:
search_g= driver.find_element_by_xpath("//input[@type='text']")
search_g.send_keys('sneakers')

In [456]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [458]:
Brand_name=[]
Pro_descr=[]
Price=[]
Discount=[]

In [459]:
for i in range(3):
    B_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    P_descr=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price=driver.find_elements_by_xpath("//div[@class='_25b18c']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j in B_name:
        Brand_name.append(j.text)
    Brand_name[:100]

    for k in P_descr:
        Pro_descr.append(k.text)
    Pro_descr[:100]

    for l in price:
        Price.append(l.text)
    Price[:100]

    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [460]:
Brand_name[:100]

['BRUTON',
 'KNIGHT WALKERS',
 'URBANBOX',
 'KWIK FIT',
 'corsac',
 'BRUTON',
 'BIRDE',
 'KNIGHT WALKERS',
 'ONECENTRE',
 'Magnolia',
 'Labbin',
 'DRESTA',
 'ASTEROID',
 'World Wear Footwear',
 'SCATCHITE',
 'HIGHLANDER',
 'World Wear Footwear',
 'Layasa',
 'corsac',
 'KWIK FIT',
 'EMPTILE',
 'Kraasa',
 'luxury fashion',
 'hzisbo',
 'World Wear Footwear',
 'World Wear Footwear',
 'ASTEROID',
 'Arivo',
 'BRUTON',
 'CLYMB',
 'BRUTON',
 'HIGHLANDER',
 'WHITE WALKERS',
 'Robbie jones',
 'BRUTON',
 'HIGHLANDER',
 'BIRDE',
 'aadi',
 'WHITE WALKERS',
 'HIGHLANDER',
 'BRUTON',
 'KNIGHT WALKERS',
 'URBANBOX',
 'KWIK FIT',
 'corsac',
 'BRUTON',
 'BIRDE',
 'KNIGHT WALKERS',
 'ONECENTRE',
 'Magnolia',
 'Labbin',
 'DRESTA',
 'ASTEROID',
 'World Wear Footwear',
 'SCATCHITE',
 'HIGHLANDER',
 'World Wear Footwear',
 'Layasa',
 'corsac',
 'KWIK FIT',
 'EMPTILE',
 'Kraasa',
 'luxury fashion',
 'hzisbo',
 'World Wear Footwear',
 'World Wear Footwear',
 'ASTEROID',
 'Arivo',
 'BRUTON',
 'CLYMB',
 'BRUTON',
 'HIGHLANDER',
 'WHITE WALKERS',
 'Robbie jones',
 'BRUTON',
 'HIGHLANDER',
 'BIRDE',
 'aadi',
 'WHITE WALKERS',
 'HIGHLANDER',
 'BRUTON',
 'KNIGHT WALKERS',
 'URBANBOX',
 'KWIK FIT',
 'corsac',
 'BRUTON',
 'BIRDE',
 'KNIGHT WALKERS',
 'ONECENTRE',
 'Magnolia',
 'Labbin',
 'DRESTA',
 'ASTEROID',
 'World Wear Footwear',
 'SCATCHITE',
 'HIGHLANDER',
 'World Wear Footwear',
 'Layasa',
 'corsac',
 'KWIK FIT']

In [461]:
print(len(Brand_name[:100]),len(Pro_descr[:100]),len(Price[:100]),len(Discount[:100]))

100 100 100 100

In [462]:
sneakers=pd.DataFrame({})
sneakers['Brand_title']=Brand_name[:100]
sneakers['P_price']=Price[:100]
sneakers['Pr_desc']=Pro_descr[:100]
sneakers['P_discount']=Discount[:100]

In [463]:
sneakers

,Brand_title,P_price,Pr_desc,P_discount
0,BRUTON,"₹505₹1,29961% off",Modern Trendy Sneakers Shoes Sneakers For Men,61% off
1,KNIGHT WALKERS,"₹598₹1,49960% off",Sneakers For Men,60% off
2,URBANBOX,₹142₹99985% off,Kwik FIT casual sneaker shoes and partywear sh...,85% off
3,KWIK FIT,"₹349₹1,99982% off",STYLISH MENS BLACK SNEAKER Sneakers For Men,82% off
4,corsac,"₹449₹1,49970% off",Canvas shoes for Men Sneakers For Men,70% off
...,...,...,...,...
95,HIGHLANDER,"₹299₹1,29976% off",STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sne...,52% off
96,World Wear Footwear,₹269₹99973% off,Kwik FIT casual sneaker shoes and partywear sh...,60% off
97,Layasa,"₹598₹1,49960% off",all white heartbeat casual shoe Sneakers For Men,60% off
98,corsac,₹250₹62560% off,Series 7 Sneakers For Men,66% off
99,KWIK FIT,₹351₹99964% off,Sneakers For Men,80% off

In [464]:
sneakers.to_csv(': Scrape data for first 100 sneakers in filpkart',index=False)

In [465]:
driver.close()

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [478]:
driver=webdriver.Chrome('chromedriver.exe')

In [479]:
driver.get("https://www.myntra.com/shoes")

In [483]:
filter_button=driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
for i in filter_button:
    if i.text=="Rs. 7119 to Rs. 14079":
        i.click()
        break

In [481]:
filter_button=driver.find_elements_by_xpath("//li[@class='colour-listItem']")
for i in filter_button:
    if i.text=="Black":
        i.click()
        break

In [482]:
Brand_name=[]
Price=[]
Pro_descr=[]

In [484]:
for i in range(2):
    b_name=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    p_desc=driver.find_elements_by_xpath("//h4[@class='product-product']")
    price =driver.find_elements_by_xpath("//div[@class='product-price']")
 
    for j  in b_name:
        Brand_name.append(j.text)
    Brand_name[:100]    
    
    
    
    for k in p_desc:
        Pro_descr.append(k.text)
    Pro_descr[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [485]:
Brand_name[:100]

['ALDO',
 'ALDO',
 'Skechers',
 'ALDO',
 'Skechers',
 'UNDER ARMOUR',
 'Skechers',
 'Nike',
 'Puma',
 'ALDO',
 'one8 x PUMA',
 'ALDO',
 'Hush Puppies',
 'ALDO',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'PUMA Motorsport',
 'Puma',
 'Skechers',
 'DAVINCHI',
 'Puma',
 'Puma',
 'Puma',
 'Skechers',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'ADIDAS Originals',
 'ADIDAS Originals',
 'Geox',
 'PUMA Motorsport',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Hush Puppies',
 'PUMA Motorsport',
 'ADIDAS',
 'Puma',
 'PUMA Motorsport',
 'New Balance',
 'ASICS',
 'Geox',
 'Reebok',
 'Louis Philippe',
 'UNDER ARMOUR',
 'ADIDAS',
 'Puma',
 'Tommy Hilfiger',
 'ALDO',
 'ALDO',
 'Skechers',
 'ALDO',
 'Skechers',
 'UNDER ARMOUR',
 'Skechers',
 'Nike',
 'Puma',
 'ALDO',
 'one8 x PUMA',
 'ALDO',
 'Hush Puppies',
 'ALDO',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'PUMA Motorsport',
 'Puma',
 'Skechers',
 'DAVINCHI',
 'Puma',
 'Puma',
 'Puma',
 'Skechers',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'ADIDAS Originals',
 'ADIDAS Originals',
 'Geox',
 'PUMA Motorsport',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Hush Puppies',
 'PUMA Motorsport',
 'ADIDAS',
 'Puma',
 'PUMA Motorsport',
 'New Balance',
 'ASICS',
 'Geox',
 'Reebok',
 'Louis Philippe',
 'UNDER ARMOUR',
 'ADIDAS',
 'Puma',
 'Tommy Hilfiger']

In [486]:
print(len(Brand_name[:100]),len(Pro_descr[:100]),len(Price[:100]))

100 100 100

In [487]:
Shoes=pd.DataFrame({})
Shoes['Brand_title']=Brand_name[:100]
Shoes['P_price']=Price[:100]
Shoes['Pr_desc']=Pro_descr[:100]

In [489]:
Shoes

,Brand_title,P_price,Pr_desc
0,ALDO,Rs. 13999,Men Woven Design Sneakers
1,ALDO,Rs. 12999,Men Leather Driving Shoes
2,Skechers,Rs. 7649Rs. 8999(15% OFF),Men Max Cushioning Running
3,ALDO,Rs. 12999,Men Leather Loafers
4,Skechers,Rs. 7224Rs. 8499(15% OFF),Men Go Walk 5 Walking Shoes
...,...,...,...
95,Louis Philippe,Rs. 9999,Men Solid Leather Formal Loafers
96,UNDER ARMOUR,Rs. 8999,Women Breeze Running Shoes
97,ADIDAS,Rs. 13999,Men Solar Glide 5 Running Shoe
98,Puma,Rs. 9999,Electrify Nitro Running Shoes
99,Tommy Hilfiger,Rs. 7739Rs. 8599(10% OFF),Men Leather Sneakers

In [491]:
driver.close()

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get("https://www.amazon.in/")

In [4]:
search_g= driver.find_element_by_xpath("//input[@type='text']")
search_g

In [5]:
search_g.send_keys('Laptop')

In [6]:
search_button=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_button.click()

In [7]:
filter_button=driver.find_elements_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']")
for i in filter_button:
    if i.text=="Intel Core i7":
        i.click()
        break

In [8]:
Title=[]
Price=[]
Rating=[]

In [9]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    ratings=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none a-spacing-top-micro']")
    price =driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    
    
    for j  in b_name:
        Title.append(j.text)
    Title[:10]    
    
    
    
    for k in ratings:
        Rating.append(k.text)
    Rating[:10] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:10]

In [10]:
    Title[:10]

['LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Gaming Laptop (32GB/1TB SSD/Windows 11 Home/8GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3Kg) PH315-54',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 "Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/MS Office 2021/Platinum Grey/1.5Kg), 81WH007KIN",
 'Lenovo IdeaPad 3 11th Gen Intel i3 15.6" FHD Thin & Light Laptop (8GB/512GB SDD/Windows 11/MS Office 2021/2 Yr Warranty/Arctic Grey/1.65Kg), 82H801L7IN',
 'Lenovo ThinkPad E14 Intel Core i3 10th Gen 14 inches Full HD Business Laptop (4GB RAM/ 256GB SSD/ DOS/ Black/ 1.69 kg), 20RAS0SE00',
 'ASUS ZenBook 14 (2020) Intel Core i5-1135G7 11th Gen 14-inch (35.56 cms) FHD T&L Laptop (8GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM501TS',
 '',
 'HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB SSD 14 inch(35.6cm) FHD,Micro-Edge,Anti-Glare,IPS Display/UHD Graphics/ Win 11/ MS Office/ Alexa Built-in/ 1.46kg/ Natural Silver - 14s-dy2506TU',
 'Lenovo ThinkBook 14 Intel Core i5 11th Gen 14" (35.56cm) FHD IPS Thin & Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/MS Office 2021/FPR/Intel Iris Xe Graphics Mineral Grey/1.4 kg), 20VDA0TLIH']

In [11]:
print(len(Title[:10]),len(Rating[0:10]),len(Price[:10]))

10 10 10

In [12]:
intel_i7=pd.DataFrame({})
intel_i7['Brand_title']=Title[:10]
intel_i7['P_price']=Price[:10]
intel_i7['Pr_Rating']=Rating[:10]

In [13]:
intel_i7

,Brand_title,P_price,Pr_Rating
0,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,"93,999",153
1,Acer Predator Helios 300 11th Gen Intel Core i...,"1,69,990","Get it by Today, May 10\nFREE Delivery by Amazon"
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","26,990",6
3,Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...,"27,553","Get it by Saturday, May 14\nFREE Delivery by A..."
4,"Lenovo IdeaPad 3 11th Gen Intel i3 15.6"" FHD T...","37,990","1,185"
5,Lenovo ThinkPad E14 Intel Core i3 10th Gen 14 ...,"1,01,112","Get it by Today, May 10\nFREE Delivery by Amazon"
6,ASUS ZenBook 14 (2020) Intel Core i5-1135G7 11...,"42,750",575
7,,"73,499","Get it by Today, May 10\nFREE Delivery by Amazon"
8,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,,186
9,"Lenovo ThinkBook 14 Intel Core i5 11th Gen 14""...","36,990","Get it by Tomorrow, May 11\nFREE Delivery by A..."

In [16]:
filter_button=driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[15]/span/a/div/label/i")
for i in filter_button:
    if i.text=="Intel Core i9":
        i.click()
        break

In [17]:
Titles=[]
Prices=[]
Ratings=[]

In [18]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    ratings=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none a-spacing-top-micro']")
    price =driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    
    
    for j  in b_name:
        Titles.append(j.text)
    Titles[:10]    
    
    
    
    for k in ratings:
        Ratings.append(k.text)
    Ratings[:10] 
    
    
    for l in price:
        Prices.append(l.text)
    Prices[:10]

In [19]:
Titles[:10]

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZX-K8024WS',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Strix Scar 15 (2022), Intel Core i9-12900H 12th Gen 15.6 inches 2K WQHD 240Hz/3ms Gaming Laptop (32GB/1TB SSD/RTX 3080 Ti 16GB Graphics/Windows 11 Home/Office 2021/Black/2.3 Kg)',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cms) 2K WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 kg) G533ZW-LN136WS',
 'HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SSD/15.6 inch(39.6 cm) 400 nits,4K AMOLED Touch, TUV + Win 11 Pro 64/NVIDIA GeForce RTX 3060 6GB Graphics/Alexa/FPR /B&O/2.14kg,15-ep1087TX, Natural Silver',
 'ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZW-LN106WS',
 'Predator Helios 500 Gaming Laptop (11th Gen Intel Core I9/17.3" 4K UHD Display/64GB DDR4 RAM/2TB SSD/1TB HDD/RTX 3080 Graphics/Per Key RGB Backlit Keyboard) | PH517-52',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black']

In [20]:
print(len(Titles[:10]),len(Ratings[0:10]),len(Prices[:10]))

10 10 10

In [22]:
intel_i9=pd.DataFrame({})
intel_i9['Brand_title']=Titles[:10]
intel_i9['Pro_price']=Prices[:10]
intel_i9['Pro_Rating']=Ratings[:10]

In [23]:
intel_i9

,Brand_title,Pro_price,Pro_Rating
0,Acer Predator Helios 300 11th Gen Intel Core i...,"1,39,990",6
1,"ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 c...","3,31,990","Get it by Tomorrow, May 11\nFREE Delivery by A..."
2,Acer Predator Helios 300 11th Gen Intel Core i...,"1,39,990",1
3,"ASUS ROG Strix Scar 15 (2022), Intel Core i9-1...","3,01,499","Get it by Tomorrow, May 11\nFREE Delivery by A..."
4,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...","1,77,885",6
5,"ASUS ROG Strix Scar 15 (2022), 15.6"" (39.62 cm...","2,32,394","Get it by Tomorrow, May 11\nFREE Delivery by A..."
6,HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SS...,"2,02,990",2
7,"ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.6...","2,85,390","Get it by Monday, May 16\nFREE Delivery by Ama..."
8,Predator Helios 500 Gaming Laptop (11th Gen In...,"3,79,990",11
9,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,"2,05,990","Get it by Tomorrow, May 11\nFREE Delivery by A..."

In [24]:
driver.close()

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com

In [61]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [62]:
driver=webdriver.Chrome('chromedriver.exe')

In [63]:
driver.get("https://www.ambitionbox.com/")

In [64]:
search_g= driver.find_element_by_xpath("//a[@class='link jobs']")
search_g

In [65]:
search_g.click()

In [66]:
search_field_Designations=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field_Designations.send_keys("Data Scientist")

In [67]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [69]:
search_button_location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]")
search_button_location.click()

In [70]:
search_field_locations=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_field_locations.send_keys("Noida")

In [71]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
search_button.click()

In [72]:
company_name=[]
No_of_day_job_posted=[]
Rating=[]

In [75]:
for i in range (3):
    b_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
    ratings=driver.find_elements_by_xpath("//div[@class='rating-wrapper']")
    job_postda=driver.find_elements_by_xpath("//span[@class='body-small-l']")
    
    
    for j  in b_name:
        company_name.append(j.text)
    company_name[:10]    
    
    
    
    for k in ratings:
        Rating.append(k.text)
    Rating[:10] 
    
    
    for l in job_postda:
        No_of_day_job_posted.append(l.text)
    No_of_day_job_posted[:10]

In [76]:
company_name[:10]

['GENPACT India Private Limited',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'GENPACT India Private Limited',
 'TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited',
 'Bristlecone India Limited',
 'Zyoin',
 'Ashkom Media India Private Limited',
 'Newgen Software Technologies Ltd.']

In [77]:
Rating[:10]

['153',
 'Get it by Today, May 10\nFREE Delivery by Amazon',
 '6',
 'Get it by Saturday, May 14\nFREE Delivery by Amazon',
 '1,185',
 'Get it by Today, May 10\nFREE Delivery by Amazon',
 '575',
 'Get it by Today, May 10\nFREE Delivery by Amazon',
 '186',
 'Get it by Tomorrow, May 11\nFREE Delivery by Amazon']

In [78]:
No_of_day_job_posted[:10]

['13d ago',
 'via naukri.com',
 '6d ago',
 'via naukri.com',
 '18d ago',
 'via naukri.com',
 '4d ago',
 'via naukri.com',
 '1mon ago',
 'via naukri.com']

In [79]:
print(len(company_name[:10] ),len(Rating[0:10]),len(No_of_day_job_posted[:10] ))

10 10 10

In [80]:
jobs=pd.DataFrame({})
jobs['Company_Name']=company_name[:10]
jobs['Ratings']=Rating[0:10]
jobs['Job_posted_dates_ago']=No_of_day_job_posted[:10]

In [81]:
jobs

,Company_Name,Ratings,Job_posted_dates_ago
0,GENPACT India Private Limited,153,13d ago
1,EXL Services.com ( I ) Pvt. Ltd.,"Get it by Today, May 10\nFREE Delivery by Amazon",via naukri.com
2,GENPACT India Private Limited,6,6d ago
3,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,"Get it by Saturday, May 14\nFREE Delivery by A...",via naukri.com
4,Tech Mahindra Ltd,"1,185",18d ago
5,GENPACT India Private Limited,"Get it by Today, May 10\nFREE Delivery by Amazon",via naukri.com
6,Bristlecone India Limited,575,4d ago
7,Zyoin,"Get it by Today, May 10\nFREE Delivery by Amazon",via naukri.com
8,Ashkom Media India Private Limited,186,1mon ago
9,Newgen Software Technologies Ltd.,"Get it by Tomorrow, May 11\nFREE Delivery by A...",via naukri.com

In [82]:
driver.close()

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [111]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [112]:
driver=webdriver.Chrome('chromedriver.exe')

In [113]:
driver.get("https://www.ambitionbox.com/")

In [114]:
search_g= driver.find_element_by_xpath("//a[@class='link salaries']")
search_g

In [115]:
search_g.click()

In [116]:
search_field_Job=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_field_Job.send_keys("Data Scientist")

In [124]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
search_button.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=101.0.4951.54)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F4B8F3+2406643]
	Ordinal0 [0x00EDAF31+1945393]
	Ordinal0 [0x00DCC610+837136]
	Ordinal0 [0x00DFA2D3+1024723]
	Ordinal0 [0x00DF0083+983171]
	Ordinal0 [0x00E1427C+1131132]
	Ordinal0 [0x00DEFA64+981604]
	Ordinal0 [0x00E14494+1131668]
	Ordinal0 [0x00E24682+1197698]
	Ordinal0 [0x00E14096+1130646]
	Ordinal0 [0x00DEE636+976438]
	Ordinal0 [0x00DEF546+980294]
	GetHandleVerifier [0x011B9612+2498066]
	GetHandleVerifier [0x011AC920+2445600]
	GetHandleVerifier [0x00FE4F2A+579370]
	GetHandleVerifier [0x00FE3D36+574774]
	Ordinal0 [0x00EE1C0B+1973259]
	Ordinal0 [0x00EE6688+1992328]
	Ordinal0 [0x00EE6775+1992565]
	Ordinal0 [0x00EEF8D1+2029777]
	BaseThreadInitThunk [0x769A6739+25]
	RtlGetFullPathName_UEx [0x77818FEF+1215]
	RtlGetFullPathName_UEx [0x77818FBD+1165]

In [125]:
company_name=[]
total_salary_record=[] 
average_salary=[] 
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [134]:
for i in range (6):
    companies_name=driver.find_elements_by_xpath("//div[@class='name']")
    total_salra=driver.find_elements_by_xpath("//div[@class='name']")
    average_sal=driver.find_elements_by_xpath("//p[@class='averageCtc']")
    mini_sal=driver.find_elements_by_xpath("//div[@class='value body-medium']")
    max_sal=driver.find_elements_by_xpath("//div[@class='value body-medium']")
    EXP_requir=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
    
    for j  in companies_name:
        company_name.append(j.text)
    company_name[:20]    
    
    
    
    for k in total_salra:
        total_salary_record.append(k.text)
    total_salary_record[:20] 
    
    
    for l in average_sal:
        average_salary.append(l.text)
    average_salary[:20]
    
    
    for j  in mini_sal:
        minimum_salary.append(j.text)
    minimum_salary[:20]    
    
    
    for k in max_sal:
        maximum_salary.append(k.text)
    maximum_salary[:20] 
    
    
    for l in EXP_requir:
        experience_required.append(l.text)
    experience_required[:20]

In [133]:
  company_name[:20]

['Walmart',
 'Walmart',
 'Walmart',
 'Walmart',
 'Walmart',
 'Walmart',
 'Walmart\nbased on 11 salaries',
 'Ab Inbev\nbased on 32 salaries',
 'Reliance Jio\nbased on 10 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 27 salaries',
 'Fractal Analytics\nbased on 81 salaries',
 'Tiger Analytics\nbased on 46 salaries',
 'UnitedHealth\nbased on 53 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Walmart\nbased on 11 salaries',
 'Ab Inbev\nbased on 32 salaries',
 'Reliance Jio\nbased on 10 salaries',
 'ZS\nbased on 15 salaries']

In [138]:
print(len(company_name[:20]),len(total_salary_record[:20]),len(average_salary[:20]),len(minimum_salary[:20]),len(maximum_salary[:20]),len(experience_required[:20]))

20 20 20 20 20 20

In [139]:
jobs=pd.DataFrame({})
jobs['Company_Name']=company_name[:20]
jobs['Total_SAL_REC']=total_salary_record[:20]
jobs['Avarge_salaries']=average_salary[:20]
jobs['Mini_Salary']=minimum_salary[:20]
jobs['Max_salary']=maximum_salary[:20]
jobs['Exp_required']=experience_required[:20]

In [140]:
jobs

,Company_Name,Total_SAL_REC,Avarge_salaries,Mini_Salary,Max_salary,Exp_required
0,Walmart,based on 11 salaries,₹ 29.7L\n₹ 25.0L\n₹ 35.0L,₹ 25.0L,₹ 25.0L,Data Scientist\n . \n3 yrs exp
1,Walmart,based on 11 salaries,₹ 29.7L\n₹ 25.0L\n₹ 35.0L,₹ 25.0L,₹ 25.0L,Data Scientist\n . \n3 yrs exp
2,Walmart,based on 11 salaries,₹ 29.7L\n₹ 25.0L\n₹ 35.0L,₹ 25.0L,₹ 25.0L,Data Scientist\n . \n3 yrs exp
3,Walmart,based on 11 salaries,₹ 29.7L\n₹ 25.0L\n₹ 35.0L,₹ 25.0L,₹ 25.0L,Data Scientist\n . \n3 yrs exp
4,Walmart,based on 11 salaries,₹ 29.7L\n₹ 25.0L\n₹ 35.0L,₹ 25.0L,₹ 25.0L,Data Scientist\n . \n3 yrs exp
5,Walmart,based on 11 salaries,₹ 29.7L\n₹ 25.0L\n₹ 35.0L,₹ 25.0L,₹ 25.0L,Data Scientist\n . \n3 yrs exp
6,Walmart\nbased on 11 salaries,Walmart\nbased on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 25.0L,Data Scientist\n . \n3 yrs exp
7,Ab Inbev\nbased on 32 salaries,Ab Inbev\nbased on 32 salaries,₹ 20.5L,₹ 35.0L,₹ 35.0L,Data Scientist\n . \n3-4 yrs exp
8,Reliance Jio\nbased on 10 salaries,Reliance Jio\nbased on 10 salaries,₹ 18.9L,₹ 15.0L,₹ 15.0L,Data Scientist\n . \n4 yrs exp
9,ZS\nbased on 15 salaries,ZS\nbased on 15 salaries,₹ 15.9L,₹ 25.5L,₹ 25.5L,Data Scientist\n . \n2 yrs exp
10,Optum\nbased on 27 salaries,Optum\nbased on 27 salaries,₹ 15.2L,₹ 5.6L,₹ 5.6L,Data Scientist\n . \n3-4 yrs exp
11,Fractal Analytics\nbased on 81 salaries,Fractal Analytics\nbased on 81 salaries,₹ 15.2L,₹ 26.2L,₹ 26.2L,Data Scientist\n . \n2-4 yrs exp
12,Tiger Analytics\nbased on 46 salaries,Tiger Analytics\nbased on 46 salaries,₹ 14.8L,₹ 9.8L,₹ 9.8L,Data Scientist\n . \n2-4 yrs exp
13,UnitedHealth\nbased on 53 salaries,UnitedHealth\nbased on 53 salaries,₹ 14.0L,₹ 20.0L,₹ 20.0L,Data Scientist\n . \n2-4 yrs exp
14,Verizon\nbased on 14 salaries,Verizon\nbased on 14 salaries,₹ 12.7L,₹ 11.0L,₹ 11.0L,Data Scientist\n . \n4 yrs exp
15,Ganit Business Solutions\nbased on 13 salaries,Ganit Business Solutions\nbased on 13 salaries,₹ 12.4L,₹ 22.0L,₹ 22.0L,Data Scientist\n . \n4 yrs exp
16,Walmart\nbased on 11 salaries,Walmart\nbased on 11 salaries,₹ 29.7L,₹ 9.5L,₹ 9.5L,Data Scientist\n . \n3 yrs exp
17,Ab Inbev\nbased on 32 salaries,Ab Inbev\nbased on 32 salaries,₹ 20.5L,₹ 22.0L,₹ 22.0L,Data Scientist\n . \n3-4 yrs exp
18,Reliance Jio\nbased on 10 salaries,Reliance Jio\nbased on 10 salaries,₹ 18.9L,₹ 9.0L,₹ 9.0L,Data Scientist\n . \n4 yrs exp
19,ZS\nbased on 15 salaries,ZS\nbased on 15 salaries,₹ 15.9L,₹ 20.0L,₹ 20.0L,Data Scientist\n . \n2 yrs exp

MAX_SALARY tag not found